.container {
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 3.1fr 0.3fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 1.5fr 0.9fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: "Header Header Header Header" ". bigsentence bigsentence ." ". LMD first-space ." ". LMD secondspace ." ". LMD thirdspace ." "footer footer footer footer";
}

.Header {
    grid-area: Header;
}

.footer {
    grid-area: footer;
}

.first-space {
    grid-area: first-space;
}

.bigsentence {
    grid-area: bigsentence;
}

.thirdspace {
    grid-area: thirdspace;

}
.thirdspace a{
    text-decoration: none;
}

.secondspace {
    grid-area: secondspace;
}

.LMD {
    grid-area: LMD;
}

body {
    margin: 0px;
}

@font-face { 
    font-family: 'Rachel';  
    src: url('Fonts/Rachel\ Roman.ttf') format('truetype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: lighter; 
    font-style: normal; 
    src: url('Fonts/NeueMontreal-Light.otf') format('opentype'); 
} 

@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: normal; 
    font-style: normal; 
    src: url('Fonts/NeueMontreal-Regular.otf') format('opentype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: bold; 
    font-style: bold; 
    src: url('Fonts/NeueMontreal-Bold.otf') format('opentype'); 
}

#midely {
    float: right;
    margin-left: 10px;
}
#typing1{
    font-family: Neue Montreal;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(0, 0, 0, 1);    
}
#typing2{

    font-family: Neue Montreal;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.checkbox-label {
    display: inline-block;
    line-height: 20px; /* Adjust this value to vertically align the text */
    margin-bottom: 7px; /* Adjust this value to control the space */
    vertical-align: middle; /* Align the label vertically with the checkbox */
    position: relative;
    top: 4px;
    left: 10px;
    color: rgba(85, 52, 41, 1);
    font-family: Neue Montreal;
    font-size: 17px;
    font-weight: 400;

}

input[type="checkbox"] {
    vertical-align: middle; /* Align the checkbox vertically with the label */
}  

.formationlmd{
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
}
#study1{
    font-family: Neue Montreal;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    
}

.boxdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    height: 150px;
    width: 250px;
    font-size: 8em;
    color: rgb(255, 255, 255);
    text-align: center;
}

#box1 {
    background-color: rgba(85, 52, 41, 1);
}

#box2 {
    background-color: rgba(85, 52, 41, 1);
}

#box3 {
    background-color: rgba(85, 52, 41, 1);
}

.boxdisplay2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.smallbox {
    height: 30px;
    width: 250px;
    color: rgba(255, 190, 93, 1);
}



#box4 {
    background-color: rgba(85, 52, 41, 1);
}

#box5 {
    background-color: rgba(85, 52, 41, 1);
}

.boxdisplay3 {
    height: 30px;
    display: flex;
    text-align: center;
    font-size: 20px;
    flex-direction: row-reverse;
    color: rgb(255, 255, 255);
}

#boxisil {
    background-color: rgba(190, 117, 76, 1);
    width: 125px;
}

#boxSI {
    background-color: rgba(85, 52, 41, 1);
    width: 125px;
}

.boxdisplay4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.boxsghir {
    height: 30px;
    width: 250px;
}

#box10 {
    background-color: rgba(224, 224, 224, 1);
}

#box30 {
    background-color: rgba(224, 224, 224, 1);
}

#box40 {
    background-color: rgba(224, 224, 224, 1);
}

input[type="checkbox"] {
    accent-color: rgba(85, 52, 41, 1);
}

.hrr {
    background-color: rgba(85, 52, 41, 1);
    width: 120px;
    height: 2px;
    margin-right: 150%; /* Adjust as needed */
  }

#lmersi {
    float: right;
    margin-bottom: auto;
}

#singincolor {
    color:rgba(0, 0, 0, 1);
    font-family: Neue Montreal;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    
}
#Requiremenets{
    color:rgba(0, 0, 0, 1);
    font-family: Neue Montreal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    
}
#writing{
    font-family: Neue Montreal;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    
}
#here {
    color:rgba(0, 0, 0, 1);
}
.line-container {
    position: relative;
    margin: 0 auto;
}

.vl {
    border-left: 3px solid rgba(85, 52, 41, 1);
    height: 1450px;
    position: absolute;
    left: 80%;
    transform: translateX(-50%);

}
