.container {  display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.3fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.6fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Header Header Header"
      ". bigsentence ."
      ". first-space ."
      ". secondspace ."
      "footer footer footer";
      
  }
  
  .Header { grid-area: Header; }
  
  .footer { grid-area: footer; }
  
  .first-space { grid-area: first-space; }
  
  .bigsentence { grid-area: bigsentence; }
  
  .secondspace {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "fmsq fmsq fmsq"
      "fstq scnq thdq";
    grid-area: secondspace;
    
  }
  
  
  .fmsq {
    grid-area: fmsq;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .fstq { grid-area: fstq; }
  
  .scnq { grid-area: scnq; }
  
  .thdq { grid-area: thdq; }
  
  
  body {
    margin: 0;
    padding: 0;
}
@font-face { 
    font-family: 'Rachel';  
    src: url('Fonts/Rachel\ Roman.ttf') format('truetype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: lighter; 
    font-style: normal; 
    src: url('Fonts/NeueMontreal-Light.otf') format('opentype'); 
} 

@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: normal; 
    font-style: normal; 
    src: url('Fonts/NeueMontreal-Regular.otf') format('opentype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: bold; 
    font-style: bold; 
    src: url('Fonts/NeueMontreal-Bold.otf') format('opentype'); 
}
.bigsentence h1 {
    font-family: 'NeueMontreal';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    
}
.bigsentence p {
    font-family: 'NeueMontreal';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

#reportfrm {
    text-align: center;
}

form {
    background-color: rgb(37, 150, 190);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(104, 156, 204);
}






#FamQ{
    font-family: 'NeueMontreal'; 
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
        
    }

.fstq{
    width: 240px;
    height: 220px;
    position: relative;
}
.firstquestion{
    height: 60px;
    width: 240px;
    background-color: rgba(11, 55, 91, 1);
    position: absolute;
}
.firstquestion h2{
    color: rgba(255, 255, 255, 1);
    font-family: 'NeueMontreal';
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    position: absolute;
    left: 15px;
    bottom: -18px;
}
.firstanswer{
    height: 160px;
    width: 240px;
    background-color: rgba(103, 158, 203, 1);
    position: absolute;
    top: 60px;
}
.firstanswer p{
    font-family: 'NeueMontreal';
    font-size: 23px;
    font-weight: 400;
    line-height: 40.8px;
    position: absolute;
    left: 15px;
    top: -10px;
    color: rgba(255, 255, 255, 1);
}

.scnq{
    width: 240px;
    height: 220px;
    position: relative;

    
}
.thdq{
    width: 240px;
    height: 220px;
    position: relative;
    margin-left: 20px;

}