.container {  display: grid;
  grid-template-columns: 0.3fr 0.3fr 3.1fr 0.3fr;
  grid-template-rows: 0.3fr 0.1fr 1.5fr 1.5fr 1.5fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "Header Header Header Header"
    ". bigsentence bigsentence ."
    ". LMD first-space ."
    ". LMD secondspace ."
    ". LMD thirdspace ."
    "footer footer footer footer";
}

.Header { grid-area: Header; }

.footer { grid-area: footer; }

.first-space { grid-area: first-space; }

.bigsentence { grid-area: bigsentence; }

.LMD { grid-area: LMD; }

.thirdspace { grid-area: thirdspace; }

.secondspace { grid-area: secondspace; }




#midely{
  float: right;
  margin-left: 10px;
}

