body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

.logo{background-color:  #58342c;}

.img1{margin-left: 90px;}
  
.navbar {
  background-color: #c0744c;
}

.navbar ul {
  margin: 0;
  padding: 2px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 90px;
}

.navbar ul li a {
  display: block;
  color: white;
  padding: 5px 0px;
  margin-left: 50%;
  text-decoration: none;
}

.text1{margin-left: 105px;}

.text2{margin-top: -20px;
margin-left: 1px;}

.vert {
    border-left: 3px solid #58342c ;
   height: 1100px;  
   position:absolute;
   left: 230px;
   margin-top: 30px;
}

.horz{
   border: 2px solid  #58342c;
   width: 100px;
   margin-left: 110px;
   margin-top: -20px;
}

.text3{margin-left:120px ;
   margin-top: 130px;
}

p{margin-left:140px ;}

.T2{margin-top: -15px;}

 .month{margin-left:115px;
    margin-top: -150px;
 }

.IMG1{margin-left: 250px;
margin-top: -20px;
box-shadow: 8px 8px rgb(236, 233, 233);
;}

.IMG3{margin-left: 250px;
      margin-top: 10px;
      box-shadow: 8px 8px rgb(236, 233, 233);}
  
.IMG4{margin-left: 10px;
        box-shadow: 8px 8px rgb(236, 233, 233);}


  

