.container {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 0.1fr 0.2fr 0.4fr 0.6fr 0.5fr 0.5fr 0.5fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "header1 header1 header1" ". about-us ." ". alger1 ." ". worldfrom ." ". images ." ". lonks ." ". more ." "footer footer footer";
}

.header {
    grid-area: header;
}

.header1 {
    grid-area: header1;
}

.about-us {
    grid-area: about-us;
}

.alger1 {
    grid-area: alger1;
}

.worldfrom {
    grid-area: worldfrom;
}

.images {
    grid-area: images;
}

.lonks {
    grid-area: lonks;
}

.more {
    grid-area: more;
}

.footer {
    grid-area: footer;
}