body{
 margin:0px;
 overflow-x: hidden;
 
}
.top_bar { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
     
} 
 
.logo_container { 
    background-color: rgba(85, 52, 41, 1); 
    width: 100%; 
    justify-content: space-between; 
    align-items: start; 
     
     
} 
 
#Head_Logo { 
    width: auto; 
    padding:10px 75px; 
    max-width: 50vh; 
    height: auto; 
} 
 
 
.top_bar nav { 
     
    background-color: rgba(190, 117, 76, 1); 
    padding: 18px 0; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: sticky; 
    top: 0; 
    z-index: 100; 
} 
 
nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
 
nav ul li { 
    display: inline-block; 
    margin-right: 20px; 
    font-family: 'Rachel'; 
    font-size: 20px; 
} 
 
nav ul li a { 
    text-decoration: none; 
    color: white; 
} 
 
nav ul li a:hover { 
    color: #442013; 
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.bx {
  width:300px ;
  height:37px ;
  text-align: center;
  justify-content: center;
  padding: 15px 40px;
}
.bx a{
  color:rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 40px;
  font-family: "NeueMontreal";
  font-size: 32px;
  font-weight: 200;
  line-height: 38.4px;
  
}
.bx a:hover,.bx a:visited{
  font-weight: 800;
  font-size: 40px;
}
.Blue{
  background: rgba(67, 134, 190, 1);
}
.red{
  background-color:rgba(250, 41, 69, 1);
}
.green{
  background-color: rgb(6, 228, 6);
}
.container{
    display: flex;
    background-color: rgba(198, 198, 204, 0.63);
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.AI{
   display: flex; 
   width: 1000px;
   height: 700px;
   background: #fff;
}
.blue{
    background-color:rgba(103, 158, 203, 1) ;
    height:700px ;
    width:250px ;
}
.history{
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family:'NeueMontreal';
    padding: 50px 25px;
   
}
.Hi{
     padding: 50px 0px 0px 25px;
     font-family:'NeueMontreal' ;
 }
 .message{
    font-family: 'NeueMontreal';
     opacity: 0px;
     font-size: 40px;
     color:rgba(55, 56, 51, 1);
     line-height: 50px;
}
#Ev{
    font-size: 60px;
    font-weight: 900;
    font-family: 'NeueMontreal';
    background: linear-gradient(to left,#EEF4F9 -137.56%, #4386BE 103.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boxcont{
   margin-top: 25px;
   position: relative;
   display: flex;
}
.box{
    background-color: rgba(236, 236, 236, 1);
    border-radius: 17px;
    width: 168px;
    height: 141px;
    animation-name:slideleft;
    animation-duration: 1s;
    position: absolute;

}
.two{
    top: 0;
    left: 180px;
}
.three{
    top: 0;
    left: 180px;
}
.four{
    top: 0;
    left: 360px;
}
@keyframes slideleft{
    from{transform: translateX(800%);}
}
.insidebox{
    font-size: 10px;
    line-height: 16px;
    font-family: 'NeueMontreal';
    padding-left: 5px;
}
#word{
    font-family: 'NeueMontreal';
    font-size: 17px;
    font-weight: 800;
}
.sidebox{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color:  rgba(103, 158, 203, 1);
    text-align: center;
    position: absolute;
    font-family: 'Rachel';
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(11, 55, 91, 1);
    right: 10px;
    bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.sidebox:hover {
    background-color: white; 
    cursor: pointer;
}
.shine{
    top:15rem;
    left:29rem;
    position: relative; 
}
.input {
    color: rgba(103, 158, 203, 1);
    box-shadow: 5px 8px 20px rgb(207, 207, 207);
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 150px;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Hide overflow */
}

.input input {
    padding: 15px; /* Adjust the padding as needed */
    line-height: 30px; /* Adjust the line height as needed */
    border: none; /* Remove border */
}

.input input::placeholder {
    color: rgba(158, 188, 212, 1);
    line-height: 30px; /* Match the line height of input */
    font-family: 'NeueMontreal';
    font-size: 15px; /* Adjust the font size as needed */
}

.input::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none; /* Ensure pointer events pass through */
}

input:focus {
    outline: none;
    border-color: rgba(103, 158, 203, 1);
}


@font-face { 
    font-family: 'Rachel';  
    src: url('Rachel\ Roman.ttf') format('truetype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: lighter; 
    font-style: normal; 
    src: url('NeueMontreal-Light.otf') format('opentype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: normal; 
    font-style: normal; 
    src: url('NeueMontreal-Regular.otf') format('opentype'); 
} 
 
@font-face { 
    font-family: 'NeueMontreal'; 
    font-weight: bold; 
    font-style: bold; 
    src: url('NeueMontreal-Bold.otf') format('opentype'); 
}

.footer_bar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* Changed from space-around to space-between */ 
    padding: 15px 75px; 
    background-color: rgba(85, 52, 41, 1); 
    margin-top: 20px; 
    position: relative;
    top: 45em;
} 
 
#footer_logo { 
    width: 120px; 
    margin-bottom: 0; 
} 
 
.text_footer_Ulogo p { 
    line-height: 1.5; 
    font-weight: normal; 
    text-align: start; 
    color: white; 
} 
 
.links-container { 
    display: flex; 
    flex-direction: column;  
    max-width: 800px; 
    margin: 0px 70px; 
    padding: 0; 
} 
   
.links-container h1 { 
    text-align: start;  
    color: white; 
    font-size: 36px; 
    margin-bottom: 20px; 
} 
   
.links-container ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 
   
.links-container li { 
    margin-bottom: 10px; 
} 
   
.links-container a { 
    font-size: 12px; 
    text-decoration: none; 
    color: #FFBE5D; 
    font-weight: lighter; 
} 
   
a:hover { 
    color: white; 
} 
   
.links-container li::after { 
    content: ""; 
    display: block; 
    width: 100%; 
    height: 2px; 
    background-color: #442013; 
    margin: 3px 0px; 
} 
   
li:last-child::after { 
    display: none; 
} 
 
.otherPages_footer { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    padding: auto 70px; 
} 
   
.otherPages_footer ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 
   
.otherPages_footer li { 
    display: block; 
    margin-top: 30px; 
} 
   
.otherPages_footer a { 
    text-decoration: none; 
    font-size: 40px; 
    color: white; 
    font-weight: bold; 
} 
   
.otherPages_footer a:hover { 
    color: #FFBE5D; 
} 
 
.social_media { 
    position: relative; 
    bottom: 100px; 
    padding: 0; 
    display: flex;
    
} 
 
.social_media .icon { 
    padding: 10px; 
} 
 
.icon img { 
    transition-duration: 0.3s; /* Smooth transition */ 
    cursor: pointer;
} 
 
.icon:hover img { 
    transform: scale(1.2);  
    filter: brightness(0) invert(1); 
    transition-duration: 0.5s;  
} 
 
.icon:hover::after { 
    position: absolute; 
} 
 
 
 
/*! End footer section */